# Current puppet module build results

<% # Process this file with -%>
<% # erb -T - BUILDRESULTS.md.erb  > BUILDRESULTS.md-%>

<%
 require 'yaml'
 modules = YAML.load_file('managed_modules.yml')

-%>

<table>
<tr>
  <th>Module or Hostgroup</th>
  <th>Master Brach</th>
  <th>QA Branch</th>
  <th>Modulesync Branch</th>
</tr>
<% modules.sort.each do | m | -%>
<tr>
 <td><a href='https://gitlab.cern.ch/ai/<%= m %>'><%= m %></a></td>
 <% ['master','qa','modulesync'].each do | b | -%>
 <td><a href='https://gitlab.cern.ch/ai/<%= m %>/commits/<%= b %>'>
     <img src='https://gitlab.cern.ch/ai/<%= m %>/badges/<%= b %>/build.svg'></a></td>
 <% end -%>
<% end -%>
</table>


